<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template is working </title>
</head>
<body>
<h>welcome to the text analyzer. enter the bellow</h>

<form action="/analyser"  method="get">
    <textarea name = "text" style="width: 1090px; height: 178px;"></textarea><br>
    <input type="checkbox" name="removepunch">remove puntuation </input><br>
    <input type="checkbox" name="capitlizefirst">capitlize first </input><br>
    <input type="checkbox" name="newlineremover"> line remover </input><br>
    <input type="checkbox" name="spaceremover"> extra space remover </input><br>
    <input type="checkbox" name="countchar"> count charecter </input><br>
    <button type = "submit">Anaylese text</button>

</form>
</body>
</html>